<h2><%= @title %></h2>
<p>Hi <%= @user.full_name %>,</p>
<p><%= @new_user.full_name %> user has joined the site with the username <%= @new_user.username %>.</p>
<p>To view all users, just click <%= link_to "here", @url %>.</p>