<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Itemised budget:</strong>
  <%= @event.itemised_budget %>
</p>

<p>
  <strong>Runsheet:</strong>
  <%= @event.runsheet %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>Budget total:</strong>
  <%= @event.budget_total %>
</p>

<p>
  <strong>Is approved:</strong>
  <%= @event.is_approved %>
</p>

<p>
  <strong>Feedback:</strong>
  <%= @event.feedback %>
</p>

<p>
  <strong>Expected turnout:</strong>
  <%= @event.expected_turnout %>
</p>

<p>
  <strong>User:</strong>
  <%= @event.user %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
