<h2><%= @title %></h2>
<p>Hi <%= @user.full_name %>,</p>
<p>A new note has been added about <%= @contact.full_name %> by <%= @creator.full_name %></p>
<p>To sign in and get started, just click <%= link_to "here", @url %>.</p>