<p id="notice"><%= notice %></p>

<p>
  <strong>String:</strong>
  <%= @reimbursement.string %>
</p>

<p>
  <strong>String:</strong>
  <%= @reimbursement.string %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @reimbursement.integer %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @reimbursement.integer %>
</p>

<p>
  <strong>Is processed:</strong>
  <%= @reimbursement.is_processed %>
</p>

<p>
  <strong>String:</strong>
  <%= @reimbursement.string %>
</p>

<%= link_to 'Edit', edit_reimbursement_path(@reimbursement) %> |
<%= link_to 'Back', reimbursements_path %>
