<!DOCTYPE html>
<html>
  <head>
    <title>AEPi Australia</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- HubSpot Embed Code -->
    <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/4287527.js"></script>
    <!-- Insta frame -->
    <script src="//lightwidget.com/widgets/lightwidget.js"></script>
    <!-- Font Awesome -->
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

    <!-- Favicon -->
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to image_tag("AEPi Syd Logo Mini"), root_path, :class => "navbar-brand" %>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <%= nav_link 'Home', root_path %>
            <%= nav_link 'About Us', about_path %>
            <%= nav_link 'Blog', blog_posts_path %>
            <%= nav_link 'Contact', contact_us_path %>
            <% if user_signed_in?  %>
              <%= nav_link 'Forum', forums_academics_path %>
              <%= nav_link 'Jobs', jobs_path %>
              <%= nav_link 'Database', contacts_path %>
              <%= nav_link 'Receipts', reimbursements_path %>
              <%= nav_link 'Events', events_path %>
              <% if current_user.admin  %>
                <%= nav_link 'Users', users_path %>
              <% end %>
            <% end %>
          </ul>
          <% if user_signed_in? %>
            <div class="navbar-form navbar-right">
              <%= link_to "#{current_user.username}", edit_user_path(current_user.id), class: "btn btn-link white-text" %>
              <%= link_to "Logout", destroy_user_session_path, class: "btn btn-danger" %>
            </div>
          <% else %>
            <div class="navbar-form navbar-right">
              <%= link_to "Login", new_user_session_path, class: "btn btn-success" %>
              <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary" %>
            </div>
          <% end %>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <div class="top-pad">

      <% flash.each do |type, message| %>
        <div class="bonus-pad"></div>
        <div class="alert alert-info <%= bootstrap_class_for(type) %>" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= message %>
        </div>
      <% end %>


      <% if controller_name ==  "pages" ||  controller_name ==  "blog_posts" %>
        <%= yield %>
      <% else %>
        <div class="container">
          <div class="top-pad">
            <%= yield %>
          </div>
        </div>
      <% end %>

    </div>
    <br>
    <br>

    <!-- <hr/>

    <footer class="text-center">
      <span>Experience by <br><a href="https://jonathanmoallem.com">Jonathan Moallem</a></span>
      <br>
      <br>
      <p class="text-center">&copy; 2017 Alpha Epsilon Pi, Australia</p>
    </footer> -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
